*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.caldy{
    height: 100vh;
    padding: 20px 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 40px;
    transform: translate(10%, 0);
}
.registration{
    display: flex;
    gap: 30px;
    align-items: center;
}
.link-registration{
    color: black;
    font-size: 18px;
}
.link{
    color: black;
    font-size: 20px;
}
.sign{
    height: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: transparent;
}
#link-color{
    color: rgba(0, 0, 0, 0.63);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}
.main-inner{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calendar{
    font-size: 6.3vw;
    line-height: 1em;
}
.main-text{
    font-size: 1.4vw;
    color: rgba(0, 0, 0, 0.63);
}
.main-inner-button{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 5px;
    background-color: #F3F3F4;
    border-radius: 10px;
}
.button{
    height: 35px;
    background-color: black;
    color: white;
    font-size: 19px;
    font-weight: 300;
    padding: 19px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border-color: transparent;
}

.text{
    color: rgba(0, 0, 0, 0.438);
    font-size: 0.85vw;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 30px;
}
.card-one,.card-five{
    height: 28vw;
    width: 22%;
    background-color: black;
    border-radius: 22px;
    padding: 15px;
}
.card-two,.card-four{
    height: 18vw;
    width: 17.5%;
    background-color: black;
    border-radius: 22px;
}
.card-three{
    height: 10.5vw;
    width: 18%;
    background-color: black;
    border-radius: 22px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-two{
    background: url(assets/person.png) center center no-repeat;
    background-size: cover;
}
.card-five{
    background: url(assets/coffe.png) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-three{
    background-color: #b0dad3;
}
.card-four{
    background-color: #DDBAEA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.john{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.john-inner{
    display: flex;
    align-items: center;
    gap: 10px;

}
.name{
    font-size: 1.9vw;
}
.john-time{
    font-size: 0.85vw;
    color: rgba(0, 0, 0, 0.527);
}
.data{
    color: white;
    font-size: 30px;
}
.one-text{
    color: rgba(255, 255, 255, 0.589);
    font-weight: 100;
}
.one-inner-date{
    height: 5.5vw;
    width: 100%;
    background-color: #252528;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.numbers{
    display: flex;
    color: #AFAFB6;
    text-align: center;
    align-items: center;
}
.tue{
    background-color: #c8cbd04d;
    padding: 17px;
    border-radius: 20px;
}
.title{
    font-size: 13px;
}
#padding{
    margin: 0px 13px;
}
#color{
    color: white;
}
.mission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.time{
    color: #C8CBD0;
}
.tasks,.tasks-white{
    height: 3.9vw;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #252528;
    border-radius: 20px;
    padding: 10px;
}
.tasks-white{
    background-color: #AFC9C5;
}
#color-tasks{
    color: #AFAFB6;
}
.meet{
    font-size: 1.2vw;
}
.calendarik{
    height: 4.7vw;
    background-color: black;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
}
.four-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.calendar-inner{
    height: 3.5vw;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b0dad3;
}
#color-calendar{
    color: rgba(0, 0, 0, 0.397);
}
.calendar-time{
    color: white;
    font-size: 12px;
}
#color-text{
    color: rgba(255, 255, 255, 0.5);
}
.glance{
    color: white;
    font-size: 29px;
    font-weight: 600;
}
.watch{
    height: 4.9vw;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    gap: 15px;
    align-items: center;
}
.play{
    height: 3.5vw;
    padding: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
}
.work{
    font-size: 18px;
}